<html>
	<head>
		<title>Static Title</title>
	</head>

	<body>
		<div class="container">
			<h3>Basic Form</h3>
			
			<%= render 'form' %>

			<%= link_to 'Back', controller: 'school', action: 'index'  %>
		</div>
	</body>
</html>